*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('img/pealiBack.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1, h2, h3, h4, p{
    margin: 10px;
    color: #ece7e2;
    font-family: "Comic Neue", cursive;
}
h3, h4, p{
    color: #fff;
}
hr{
    width: 80%;
}
#user-top{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7d8391;
    width: fit-content;
    height: 30px;
    margin-right: 10px;
    padding: 0 10px 0 10px;
    border: none;
    border-radius: 5px;
    font-family: "Comic Neue", cursive;
    font-weight: bold;
    color: #ece7e2;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-color: transparent;
    backdrop-filter: blur(50px);
}
/**/
main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    gap: 10px;
}
/**/
.ContainerDownloads{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 450px;
    height: 630px;
    margin: 10px 0 0 10px;
    gap: 10px;
    border-radius: 4px;
    /*background-color: #9db2bf;*/
    background: transparent;
    backdrop-filter: blur(20px);
}
.ContainerA{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
    height: fit-content;
    background: transparent;
}
.InfoDownload{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px #000;
}
.IconDownload{
    width: 35px;
    height: 40px;
    object-fit: cover;
    margin: auto;
    border: none;
    border-radius: 5px;
    background-color: #144d4d;
}
.WarningDownload{
    color: #fff;
    padding: 5px;
    background-color: #b00e0e;
    border-radius: 5px;
}
/**/
.ContainerUploads{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 630px;
    margin: 10px 0 0 0;
    border-radius: 4px;
    /*background-color: #9db2bf;*/
    background: transparent;
    backdrop-filter: blur(2px);
}
.subirArchivos{
    color: #dde6ed;
}
.IconCloud{
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}
/**/
.ContainerUploadsSup{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}
.uploadFiles{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;
    background-color: #7d8391;
    color: #dde6ed;
    font-family: "Comic Neue", cursive;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}
#uploadFile{
    display: none;
}
#uploadBtn{
    margin: 20px 0 10px 0;
    width: 250px;
    height: 30px;
    color: #dde6ed;
    border: none;
    border-radius: 5px;
    background-color: #144d4d;
    cursor: pointer;
    font-weight: bold;
}
/**/
.ContainerAnuncios{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    height: 630px;
    gap: 5px;
    margin: 10px 0 0 0;
    border-radius: 4px;
    /*background-color: #9db2bf;*/
    background: transparent;
    backdrop-filter: blur(10px);
}
#escriba{
    display: none;
}
#mensajesContenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    height: 400px;
    gap: 10px;
    border: none;
    border-radius: 5px;
    overflow: scroll;
    background-color: #2e235b;
}
#mensajesContenedor::-webkit-scrollbar{
    display: none;
}
#mensajeTexto{
    width: 80%;
    height: 50px;
    border: none;
    color: #fff;
    border-radius: 4px;
    background-color: #2e235b;
}
#publicar{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #144d4d;
    color: #dde6ed;
    cursor: pointer;
    font-family: "Comic Neue", cursive;
    font-weight: bold;
}
.Box{
    width: 95%;
    height: fit-content;
    color: #dde6ed;
    font-family: "Comic Neue", cursive;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    background-color: #7d8391;
}
/**/
.ContainerDocsPeali{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    height: fit-content;
    gap: 10px;
    padding: 10px 0 10px 0;
    /*background-color: #9db2bf;*/
    background: transparent;
    backdrop-filter: blur(20px);
    border: none;
    border-radius: 3px;
}
.boxDown{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 80%;
    height: 30px;
    background-color: #7d8391;
}
.boxDown:hover{
    background-color: #656e81;
}
.deleteBox{
    width: 200px;
    height: 25px;
    color: #dde6ed;
    background-color: #144d4d;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}