        body{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-image: url('img/pexels-mahima-518693-1250260.webp');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
        }
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            width: 90%;
            height: fit-content;
            margin: 10px;
            border-radius: 10px;
            background-color: transparent;
            box-shadow: 0px 0px 30px #000;
        }
        h1{
            color: #fff;
            font-family: 'Courier New', Courier, monospace;
            font-size: 50px;
        }
        p{
            color: #fff;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin: 5px;
        }
        form{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: fit-content;
            width: 100%;
        }
        label{
            color: #fff;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        input{
            width: 250px;
            height: 30px;
            border: #fff solid 1px;
            border-radius: 50px;
            background-color: transparent;
            color: #fff;
            text-align: center;
        }
        textarea{
            width: 350px;
            height: 200px;
            border: #fff solid 1px;
            border-radius: 10px;
            background-color: transparent;
            color: #fff;
            text-align: center;
        }
        hr{
            width: 60vw;
        }
        
        button{
            width: 200px;
            height: 40px;
            border: #fff solid 1px;
            border-radius: 50px;
            background-color: bisque;
            font-size: 20px;
        }
        button:hover{
            background-color: transparent;
            color: #fff;
        }